/* Globals */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e7efc5ff;
  color: #ff6663ff;
}

/* Header, Footer, and Main Content */
header, footer {
  width: 100%;
  background-color: #e7efc5ff;
  text-align: center;
  padding: 10px 0;
}

.main-content {
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  gap: 20px;
}

/* Sections */
.left-section, .right-section {
  padding: 20px;
  flex: 1;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-section {
  border-left: 1px solid #ccc;
}

/* Button Styles */
.button-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-weight: bold;
  color: #ff6663ff;
  border: 1px solid #ff6663ff;
  background-color: #e7efc5ff;
}

button:hover {
  color: #bfd7b5ff;
  background-color: #fb9f89ff;
  border: 1px solid #fb9f89ff;
}

/* Item Styles */
.item-row {
  margin-bottom: 5px;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Spacing between buttons */
  margin-bottom: 10px;
}

.button-row input {
  flex-grow: 1; /* Makes input take available space */
  min-width: 150px; /* Ensures a minimum width for usability */
}

.link-display {
  display: inline; /* Show when link is added */
  margin-left: 10px;
}

.link-display a {
  color: #ff6663ff;
  text-decoration: underline;
  font-weight: bold;
}